[submodule "measurements/THX"]
	path = measurements/THX
	url = git@github.com:thx-ltd/thx-csv-measurements
	branch = main
[submodule "results/THX"]
	path = results/THX
	url = git@github.com:thx-ltd/autoeq-results
	branch = main
